@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@plugin "@iconify/tailwind4";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #17141d;
  --card: #f5f5f5;
  --card-foreground: #17141d;
  --popover: #ffffff;
  --popover-foreground: #17141d;
  --primary: #007acc;
  --primary-foreground: #fbfbfb;
  --secondary: #dddddd;
  --secondary-foreground: #2c2742;
  --muted: #dddddd;
  --muted-foreground: #606060;
  --accent: #eeeeee;
  --accent-foreground: #2c2742;
  --default: #c3ebfe;
  --default-foreground: #1e4974;
  --destructive-foreground: #fec3d7;
  --destructive: #741e45;
  --warning-foreground: #fef9c3;
  --warning: #954d0e;
  --success: #dcfce7;
  --success-foreground: #166534;
  --border: #cccccc;
  --input: #dddddd;
  --ring: #aba8c1;
  --chart-1: #ff6b1a;
  --chart-2: #1bb3a2;
  --chart-3: #465caa;
  --chart-4: #ffa02c;
  --chart-5: #ffb443;
  --radius: 0.625rem;
  --sidebar: #f5f5f5;
  --sidebar-foreground: #17141d;
  --sidebar-primary: #2c2742;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #dddddd;
  --sidebar-accent-foreground: #17141d;
  --sidebar-border: #e9e8f0;
  --sidebar-ring: #aba8c1;
  --bfg: #00b7b0;
}

.dark {
  --background: #191919;
  --foreground: #fbfbfb;
  --card: #242424;
  --card-foreground: #fbfbfb;
  --popover: #111111;
  --popover-foreground: #fbfbfb;
  --primary: #007acc;
  --primary-foreground: #fbfbfb;
  --secondary: #2b2b2b;
  --secondary-foreground: #fbfbfb;
  --muted: #2b2b2b;
  --muted-foreground: #888888;
  --accent: #2b2b2b;
  --accent-foreground: #fbfbfb;
  --default: #1a3150;
  --default-foreground: #0099cc;
  --destructive: #ff4b72;
  --destructive-foreground: #501a2d;
  --success-foreground: #36551d;
  --success: #5dd400;
  --warning-foreground: #55500d;
  --warning: #ecd91b;
  --border: #454545;
  --input: #454545;
  --ring: #6a6285;
  --chart-1: #7c4dff;
  --chart-2: #4dd0a5;
  --chart-3: #ffb443;
  --chart-4: #d24dff;
  --chart-5: #ff5722;
  --sidebar: #191919;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #7c4dff;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #2b2b2b;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: #2b2b2b;
  --sidebar-ring: #6a6285;
  --bfg: #00b7b0;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-default: var(--default);
  --color-default-foreground: var(--default-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-bfg: var(--bfg);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .invoice * {
    @apply !border-[#cccccc] !text-[#17141d];
  }
}

/* Only apply scrollbar styles on devices with screens wider than 768px (typical desktop breakpoint) */
@media only screen and (min-width: 768px) {
  /* Style the scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-background);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }
}
